# TransTrack Yawn Detection API Configuration

# Operating Device ("cpu" atau "cuda")
DEVICE=cpu

# Default Model Variant ("vj", "vc", atau "vh")
MODEL_VARIANT=vj

# Number of PyTorch Threads for CPU inference
OMP_NUM_THREADS=2

# Port API Server
PORT=8000
